body{text-align: center;}
header{text-align: center; background-color: rgb(113, 113, 244); font-family: Georgia, 'Times New Roman', Times, serif;}

.container {
    display: flex;
    height: auto; margin-top: 10vh; margin-left: 2vw;
}







.grid-container{display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    gap: 20px;
    margin-left: 150px;}

a{text-decoration: none; color: black;}
a:hover{color: red;}