body{text-align: center;}
.header{grid-area: a; background-color: blue;}
.main{grid-area: c; background-color: blueviolet;}
.sidebar{grid-area: b; background-color: green;}
.footer{grid-area: d; background-color: tomato;}
.grid-container{height: 100vh; display: grid; gap: 10px;
grid-template-areas: "a a a a"
                     "b b c c"
                     "b b c c"
                     "d d d d"; }